# Node modules
node_modules/

# Environment variables
.env

# Data files (persistent bot data)
data/*.json
data/*.sqlite

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Misc
*.bak 

#DevSystem-V2
DevSystem-V2.md

#database
database.sqlite

#packages
packages.json
package-lock.json

#wiki
/wiki/*.md


#node_modules
node_modules/*
